/******************************
variables
******************************/
:root {
    --navPlava: #09192c;
    --tamnoPlava: #0b193c;
    --pink: #f91257;
    --bela: #fff;
    --svetloSiva: #f8f8f8;
    --fontColor: #0b193c;
    --violet: #383c6e;
    --font: 16px;
    --padding: 80px 0;
    --fontFamily: 'Montserrat', sans-serif;
    --transition: .3s ease;
}
/******************************
basic styles
******************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: var(--font);
    color: var(--fontColor);
    font-family: var(--fontFamily);
    line-height: 1.5;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--bela);
}
a:hover {
    color: var(--pink);
}
button {
    padding: 20px 30px;
    font-size: 1rem;
    background: var(--pink);
    border: none;
    color: var(--bela);
    border-radius: 40px;
    text-transform: uppercase;
    margin-top: 20px;
    width: 250px;
}
button:hover {
    cursor: pointer;
    background: var(--violet);
    transition: var(--transition);
}
.container {
    width: 80%;
    margin: auto;
}
h2 {
    font-size: 3rem;
    line-height: 1.1;
}
/******************************
nav
******************************/
nav {
    background: var(--navPlava);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}
nav .logo {
    font-size: 1.7rem;
    font-weight: 600;
}
nav .logo span {
    color: var(--pink);
}
nav ul {
    display: flex;
}
nav ul li a {
    margin-left: 50px;
}
/******************************
header
******************************/
header {
    background: var(--tamnoPlava);
    color: var(--bela);
    display: flex;
    flex-wrap: wrap;
    padding: 50px
}
header .col {
    flex: 1;
}
header .col:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}
header .col:first-child h1 {
    font-size: 4rem;
    line-height: 1.1;
}
header .col:first-child h1 span {
    color: var(--pink);
}
header .col:first-child p {
    padding: 20px 0;
}
header .col:last-child {
    display: flex;
    justify-content: center;
}
header img {
    width: 100%;
}
/******************************
unlimited
******************************/
.unlimited {
    padding: var(--padding);
    display: flex;
    flex-wrap: wrap;
}
.unlimited article:first-child {
    flex: 1;
    display: flex;
    align-items: center;
}
.unlimited article:last-child {
    flex: 1;
}
/******************************
howItWorks
******************************/
.howItWorks {
    padding: var(--padding);
    background: var(--tamnoPlava);
    color: var(--bela);
}
.howItWorks h2 {
    padding-bottom: 30px;
}
.howItWorks .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.howItWorks .container article {
    flex: 0 0 30%;
}
.howItWorks .container article i {
    color: var(--pink);
    font-size: 4rem;
    margin-bottom: 20px
}
.howItWorks .container article h3 {
    font-size: 1.7rem;
    margin-bottom: 20px;
}
/******************************
artists
******************************/
.artists {
    padding: var(--padding);
}
.artists .row:first-child {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.artists .row:first-child h2 {
    flex: 1;
}
.artists .row:first-child p {
    flex: 1;
}
.artists .row:last-child {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
}
.artists .row:last-child .col {
    flex: 0 0 22%;
    text-align: center;
}
.artists .row:last-child .col img {
    width: 100%;
    border-radius: 40px;
}
/******************************
footer
******************************/
footer {
    background: var(--tamnoPlava);
    text-align: center;
    padding: var(--padding);
    color: var(--bela);
}
footer .logo {
    font-size: 1.7rem;
    font-weight: 600;
}
footer .logo span {
    color: var(--pink);
}
footer p {
    padding: 20px 0;
    font-size: .8rem
}
footer .icons a {
    margin: 0 20px;
}
/******************************
R E S P O N S I V E
******************************/
@media(max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 20px
    }
    nav ul li a {
        margin: 5px;
    }
    .container {
        width:90%;
    }
    header {
        padding: 20px;
    }
    header .col {
        flex: 0 0 100%;
    }
    header .col:first-child h1 {
        font-size: 2rem;
    }
    header .col:first-child {
        margin-bottom: 30px
    }
    .unlimited article:first-child {
        flex: 0 0 100%;
    }
    .unlimited article:last-child {
        flex: 0 0 100%;
    }
    h2 {
        font-size: 2rem;
        margin-bottom: 30px
    }
    .howItWorks .container article {
        flex: 0 0 100%;
        margin-bottom: 30px;
    }
    .artists .row:first-child h2 {
        flex: 0 0 100%;
    }
    .artists .row:first-child p {
        flex: 0 0 100%;
    }
    .artists .row:last-child .col {
        flex: 0 0 100%;
        margin-bottom: 30px;
    }
}






